
import(stats)
import(BiocGenerics)
importFrom(GOstats, hyperGTest)

export(
    proconaVersionFun,
    buildProconaNetwork,
    bootstrapProconaNetwork,
    subsetPeptideData,
    modulePhenotypeCorrelations,
    moduleMemberCorrelations,
    toPermTest,
    peptideConnectivityTest,
    peptideCorrelationTest,
    goStatTest,
    ppiPermTest,
    getFisherMatrix,
    compareNetworksWithFishersExactTest,
    compareNetworksWithFishersExactTestProcona,
    correlationWithPhenotypesHeatMap,
    MMvsPS,
    MMvsPSallModules,
    corBootstrap,
    utri,
    plotNet,
    printNet,
    networkName,
    samples,
    peptides,
    proconaVersion,
    networkName,
    networkType,
    adj,
    TOM,
    pepTree,
    mergedMEs,
    mergedColors,
    MEs,
    dynamicColors,
    networkPower,
    permtest,
    colorOrder
  )
