
import(stats)
import(BiocGenerics)
importFrom(GOstats, hyperGTest)
import(methods)

exportClasses(proconaNet)

export(
    proconaVersionFun,
    buildProconaNetwork,
    bootstrapProconaNetwork,
    subsetPeptideData,
    modulePhenotypeCorrelations,
    moduleMemberCorrelations,
    toPermTest,
    peptideConnectivityTest,
    peptideCorrelationTest,
    goStatTest,
    ppiPermTest,
    getFisherMatrix,
    compareNetworksWithFishersExactTest,
    compareNetworksWithFishersExactTestProcona,
    correlationWithPhenotypesHeatMap,
    MMvsPS,
    MMvsPSallModules,
    corBootstrap,
    utri,
    plotNet,
    printNet,
    networkName,
    "networkName<-",
    samples,
    "samples<-",
    peptides,
    "peptides<-",
    proconaVersion,
    "proconaVersion<-",
    networkName,
    "networkName<-",
    networkType,
    "networkType<-",
    adj,
    "adj<-",
    TOM,
    "TOM<-",
    pepTree,
    "pepTree<-",
    mergedMEs,
    "mergedMEs<-",
    mergedColors,
    "mergedColors<-",
    MEs,
    "MEs<-",
    dynamicColors,
    "dynamicColors<-",
    networkPower,
    "networkPower<-",
    permtest,
    "permtest<-",
    colorOrder,
    "colorOrder<-"
  )
